body {

  padding-top: 70px;
}
.skill  {
	vertical-align: baseline;
    border-radius: .25em;
	padding: .2em .6em .3em;
	margin: 5px;
	font-weight: bold;
}
.skill-technology {
	background-color: #337ab7;
}
.skill-language {
	background-color: #4cff00;
}