body {
	 background-color: #333;
	 margin-bottom: 20px;
	 margin-top: 20px;
 
}
.skill  {
	vertical-align: baseline;
    border-radius: .25em;
	padding: .2em .6em .3em;
	margin: 5px;
	font-weight: bold;
}
.skill-technology {
	background-color: #337ab7;
}
.skill-language {
	background-color: #4cff00;
}
.technology-heading  {
	
	font-weight: bolder;
	font-style:italic;
}
.paper {
	background-color: #FFF;
	padding: .8em;
	margin: 5px;
	box-shadow: 0 10px 6px -6px #777;
}
.paper-yellow {
	background-color: yellow;
}
.paper-text {
	font-weight: bold;
}
/* Adapated from https://facebook.github.io/react/docs/animation.html */
.note-enter {
  opacity: 0.01;
}

.note-enter.note-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.note-leave {
  opacity: 1;
}

.note-leave.note-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
