body {
	 background-color: #333;
	 margin-bottom: 20px;
	 margin-top: 20px;
 
}
.skill  {
	vertical-align: baseline;
    border-radius: .25em;
	padding: .2em .6em .3em;
	margin: 5px;
	font-weight: bold;
}
.skill-technology {
	background-color: #337ab7;
}
.skill-language {
	background-color: #4cff00;
}
.technology-heading  {
	
	font-weight: bolder;
	font-style:italic;
}
.paper {
	background-color: #FFF;
	padding: .2em;
	box-shadow: 0 10px 6px -6px #777;
}